
body.type-normal    { background-color: #A8A77A; color: white; }
.type-fighting  { background-color: #C22E28; color: white; }
.type-flying    { background-color: #A98FF3; color: white; }
.type-poison    { background-color: #A33EA1; color: white; }
.type-ground    { background-color: #E2BF65; color: black; }
.type-rock      { background-color: #B6A136; color: white; }
.type-bug       { background-color: #A6B91A; color: black; }
.type-ghost     { background-color: #735797; color: white; }
.type-steel     { background-color: #B7B7CE; color: black; }
.type-fire      { background-color: #EE8130; color: white; }
.type-water     { background-color: #6390F0; color: white; }
.type-grass     { background-color: #7AC74C; color: black; }
.type-electric  { background-color: #F7D02C; color: black; }
.type-psychic   { background-color: #F95587; color: white; }
.type-ice       { background-color: #96D9D6; color: black; }
.type-dragon    { background-color: #6F35FC; color: white; }
.type-dark      { background-color: #705746; color: white; }
.type-fairy     { background-color: #D685AD; color: black; }

